# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TeamspeakBot.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\projects\teamspeakBot\TeamspeakBot\.idea\.idea.TeamspeakBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
